.gallery:hover {
    opacity: 0.5;
}

.gallery img {
    width: 80%;
    background-color: white;
    margin-bottom: 25px;
}

.gallery {
  text-align: center;
  padding: 10px 20px;
}


@media only screen and (max-width: 700px){
    .gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .gallery {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
