.header-text {
  font-family: "bamboo gothic", "palatino linotype", serif;
  color: #60412B;
  font-size: 22pt;
}

.menu-container {
  background-color: #3C455C;
}

.header-text {
  background-color: #3C455C;
  padding: 0;
  margin: 0;
}
