.header-text {
  font-family: "bamboo gothic", "palatino linotype", serif;
  color: #CFB97F;
  font-size: 22pt;
}

.menu-container {
  background-color: #A8BFAA;
}

.header-text {
  padding: 0;
  margin: 0;
}
