body {
  background-image: url(../images/Texture1.jpg);
}

.main-container {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
}
.main-body {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.Nolan-bio {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.Matt-bio {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}


.about-end {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.contact-form {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.contact-specs {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}
