body {
  background-image: url(../images/Texture1.jpg);
}

.main-container {
  max-width: 100%;
  min-width: 20%;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
}
.main-body {
  font-family: 'Quicksand', 'lucida grande', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.Nolan-bio {
  font-family: 'Quicksand', 'lucida grande', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.Matt-bio {
  font-family: 'Quicksand', 'lucida grande', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}


.about-end {
  font-family: 'Quicksand', 'lucida grande', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.contact-form {
  font-family: 'Quicksand', 'lucida grande', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

.contact-specs {
  font-family: 'Quicksand', 'lucida grande', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15pt;
  color: #E1EDD8;
}

@media only screen and (max-width: 700px){
    * {
        width: 49.99999%;
        margin: 6px 0;
    }

@media only screen and (max-width: 500px){
    * {
        width: 100%;
    }

 @media only screen and (max-width: 320px){
   .main-body {
     display: inline;
   }
 }

 @media only screen and (max-width: 320px){
   .about-container {
     display: inline;
   }
 }

 @media only screen and (max-width: 320px){
   .contact-info {
     display: inline;
   }
 }

 @media only screen and (max-width: 320px){
   .gallery {
     display: inline;
   }
 }
